# === Java (Maven) ===
target/
*.class
*.jar
*.war
*.ear
*.log
*.tmp
*.bak

# Maven Wrapper
.mvn/
!mvnw
!mvnw.cmd

# === Node.js (React/Next) ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
dist/
build/
.next/
.env
.env.*

# === IDEs & Editors ===
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# === OS Specific ===
.DS_Store
Thumbs.db

# === Misc ===
*.swp
*.iml
*.bak
*.orig
